
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

.doneTask {
    cursor: pointer;
    float: right;
}

.doneTask:hover {
    color: rgb(83, 104, 104);
}


form input[type="submit"] { 
    display: none;
}

form input[type="text"] {
    border: none;
    border-color: transparent;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

body {
    background-color: rgb(224, 224, 224);
}

h1 {
    color: rgb(57, 57, 57);
}

input {
    background-color: transparent;
}
input:focus-visible {
    outline: none;
}

.container {
    margin-bottom: 5px;
}

hr {
    opacity: 0.10;
}

.w-30 {
    width: 30%!important;
}

